:root {
  --primary-white: #ffffff;
  /* jero background, activities background */
  --primary-off-white: #FEFAF5;
  /*site logo, hero slogan, recommendations title */
  --accent-blue: #335576;
  /* currently active underline, get started button background */
  --highlight-orange: #DB7A4E;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-white);
}

html {
  font-size: 100%;
}

h1,
h2,
h3 {
  color: var(--accent-blue);
  text-transform: capitalize;
}

h1 {
  font-size: 1.125rem;
}

h2 {
  font-size: 2.288rem;
}

h3 {
  font-size: 1.874;
  /* font-size: 2.044rem; */
}

p {
  font-size: 1rem;
}

p:not(.no-capitalize) {
  text-transform: capitalize;
}

a {
  color: var(--accent-blue);
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.nav__list .active-link {
  border-bottom: 4px solid var(--highlight-orange);
}

.header {
  margin: 0;
  width: 100%;
  position: sticky;
  background-color: var(--primary-white);
  padding: 0rem 3rem;
}

.header-footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: var(--accent-blue)
}

.nav__list {
  display: flex;
  list-style-type: none;
}

.nav__list--item {
  margin-right: 1.5rem;
  padding-bottom: .5rem;
}

.nav__list--item a {
  padding-bottom: .75rem
}

.footer {
  position: fixed;
  display: flex;
  background-color: var(--primary-off-white);
}

.footer p {
  display: flex;
  flex-wrap: wrap;
}

.footer-contact-information p:first-of-type {
  color: var(--highlight-orange);
  text-transform: uppercase;
}

.time {
  text-transform: uppercase;
}

.social-icon {
  height: 1.125rem;
}